header {
    width: 1519px;
    /* height: 592px; */
    background: url(../images/aboutUsBg.png);
    background-size: cover;
    /* overflow: hidden; */
}

header .headerBJ a {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #555;
    margin-top: 15px;
    color: white;
}

/* ------------------------开始----------------------- */
.mainThree {
    width: 100%;
}

.mainThree .mainNav {
    width: 80%;
    margin: 0 auto;
}

.mainThree .mainNav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mainThree .mainNav ul li {
    width: 200px;
    height: 150px;
    line-height: 55px;
    position: relative;
    background-color: rgba(255, 255, 255, .85);
}

.mainThree .mainNav ul li p:nth-of-type(2) {
    width: 100px;
    height: 1px;

}

.mainThree .mainNav ul li p:nth-of-type(3) {
    height: 40px;
}

.mainThree .mainNav ul li img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


/* ------------------------开始----------------------- */

.mainThree .itemOne {
    width: 80%;
    margin-top: 50px;
}

.mainThree .itemOne .itemOneRight p {
    font-size: 14px;
    line-height: 28px;
}

/* ------------------------开始----------------------- */
.mainThree .itemTwo {
    /* display: flex; */
}

.mainThree .itemTwo p {
    text-align: center;
}

.mainThree .itemTwo .itemTwoUl {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: url(../images/features.30cee631.jpg) no-repeat center center;
    background-size: cover;
}

.mainThree .itemTwo .itemTwoUl li {
    width: 400px;
    height: 200px;
    text-align: center;
    line-height: 25px;
    padding: 32px;
    box-sizing: border-box;
    border: 1px solid skyblue;
}


.mainThree .itemTwo .itemTwoUl li span {
    font-size: 14px;
    color: gray;
}

/* ------------------------开始----------------------- */
.mainThree .itemThree {
    width: 100%;
    height: 256px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

.mainThree .itemThree img {
    width: 100%;
    height: 256px;
    position: absolute;
    z-index: -1;
}

.mainThree .itemThreeText {
    margin-left: 100px;
}

.mainThree .itemThreeText p {
    margin: 10px auto;
}

.mainThree .itemThreeText a {
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #555;
    margin-top: 10px;
}

/* ------------------------开始----------------------- */





/* ------------------------开始----------------------- */






/* ------------------------开始----------------------- */