header .headerBJImg {
    background: url(../images/aboutUsIMG.png) no-repeat 0px 45px;
    background-size: contain;
}

header .headerBJ img {
    transform: rotateX(40deg);
}

/* ------------------------开始----------------------- */
.mainFour {
    width: 100%;
}

.mainFour .mainFouritemOne {
    width: 70%;
    margin: 0 auto;
}

.mainFour .mainFouritemOne>p {
    margin-top: 80px;
}

.mainFour .mainFouritemOne ul {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.mainFour .mainFouritemOne ul li {
    width: 240px;
    height: 144px;
    text-align: center;
    line-height: 20px;
}

.mainFour .mainFouritemOne ul li img {
    margin-top: 25px;
}

/* ------------------------开始----------------------- */
.mainFour .mainFouritemOneTab {
    width: 100%;
    margin: 0 auto;
}

.mainFour .mainFouritemOneTab .mainFouritemOneTabList ul {
    height: 80px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f1f7fd;
}

.mainFour .mainFouritemOneTab .mainFouritemOneTabList ul li:nth-of-type(1) {
    padding-left: 150px;
}

.mainFour .mainFouritemOneTab .mainFouritemOneTabList ul li:nth-last-of-type(1) {
    padding-right: 150px;
}

/* ------------------------开始----------------------- */
.mainFour .mainFourItemTwo {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.mainFour .mainFourItemTwo .itemTwoLeft {
    padding: 100px;
}

.mainFour .mainFourItemTwo .itemTwoLeft .p1 {
    margin: 10px auto;
}

/* ------------------------开始----------------------- */
.mainFour .mainFourItemThree {
    width: 100%;
    height: 624px;
    background: url(../images/b1.f29e9bb4.png) center center;
    background-size: cover;
}

/* ------------------------开始----------------------- */
.mainFourItemFour {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.mainFourItemFour>div:nth-of-type(1) {
    margin-top: 80px;
    margin-left: 80px;
}

.mainFourItemFour>div:nth-of-type(1)>p {
    margin: 15px auto;
}

.mainFourItemFour>div:nth-of-type(2) {
    width: 600px;
    margin-top: 150px;
}

.mainFourItemFour>div:nth-of-type(2)>p {
    margin: 15px auto;
}

.mainFourItemFour>div:nth-of-type(2)>a {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #444;
    border: 1px solid black;
    display: inline-block;
}

/* ------------------------开始----------------------- */