header .headerBJ div a {
    background: linear-gradient(135deg, #1f9ee3, #6fc);
}

header {
    background: url(../images/u1767.png) !important;
}

/* ------------------------开始----------------------- */
.mainFive {
    width: 100%;
    height: 100%;
}

.mainFive .mainFiveItemOne .mainFiveItemOneList p:nth-of-type(1) {
    width: 35px;
    height: 2px;
    background-color: #6fc;
    margin: 15px;
}

.mainFive .mainFiveItemOne .mainFiveItemOneList p:nth-of-type(2) {
    margin: 10px;
}

.mainFive .mainFiveItemOne .mainFiveItemOneList {
    height: 162px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    background: url(../images/websiteBg.eb32a467.jpg);
}

/* ------------------------开始----------------------- */
.mainFive .mainFiveItemTwo {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 80px;
    background: url(../images/features.30cee631.jpg) no-repeat center center;
    background-size: cover;
}

.mainFive .mainFiveItemTwo>p {
    text-align: center;
}

.mainFive .mainFiveItemTwo>div {
    margin: 0 auto;
    margin-top: 80px;
    width: 100px;
    height: 48px;
}

.mainFive .mainFiveItemTwo>div>p {
    line-height: 40px;
    text-align: center;
    transition: 0.8s all linear;
    opacity: 0;
    /* display: none; */
}

.mainFive .mainFiveItemTwo>div>img {
    margin-left: 40px;
}

.mainFive .mainFiveItemTwo .itemTwoUl {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

.mainFive .mainFiveItemTwo .itemTwoUl li {
    width: 400px;
    height: 180px;
    padding: 52px 20px;
    margin-top: 40px;
    box-sizing: border-box;
}

.mainFive .mainFiveItemTwo .itemTwoUl li img {
    width: 47px;
    height: 47px;
}

.mainFive .mainFiveItemTwo .itemTwoUl li p {
    margin-bottom: 10px;
}

.mainFive .mainFiveItemTwo .itemTwoUl li span {
    font-size: 14px;
    color: gray;
}

.liHidden {
    display: none;
}

/* ------------------------开始----------------------- */

.mainFive .mainFiveItemThree ul {
    width: 100%;
    height: 115px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, .3);
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.mainFive .mainFiveItemThree ul li {
    display: flex;
}

.mainFive .mainFiveItemThree ul li:nth-of-type(2n) {
    width: 1px;
    height: 50px;
    background-color: rgba(128, 128, 128, .3);
}

.mainFive .mainFiveItemThree ul li:nth-of-type(1) {
    margin-left: 100px;
}

.mainFive .mainFiveItemThree ul li:nth-last-of-type(1) {
    margin-right: 100px;
}

/* ------------------------开始----------------------- */
.mainFiveItemThreeTab {
    width: 80%;
    margin: 0 auto;
    display: none;
}

.mainFiveItemThreeTab .wrap {
    display: flex;
    align-items: center;
    text-align: center;
}

.mainFiveItemThreeTab .wrap>div {
    text-align: center;
    width: 50%;
}

.mainFiveItemThreeTab .wrap>div img {
    width: 100%;
    height: 100%;
}

.mainFiveItemThreeTab .wrapTitle {
    text-align: center;
    width: 100%;
}

/* ------------------------开始----------------------- */

/* ------------------------开始----------------------- */